<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configuración para perfil LOCAL -->
    <springProfile name="local">
        <property name="LOG_LEVEL" value="DEBUG" />
        <property name="APP_LOG_LEVEL" value="DEBUG" />
    </springProfile>

    <!-- Configuración para todos los demás perfiles -->
    <springProfile name="!local">
        <property name="LOG_LEVEL" value="INFO" />
        <property name="APP_LOG_LEVEL" value="INFO" />
    </springProfile>

    <!-- Appender para consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger para tu aplicación -->
    <logger name="com.colombia.eps" level="${APP_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Root logger -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Loggers específicos para librerías externas -->
    <logger name="software.amazon.awssdk" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.amazonaws" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>